<div class="container">
    <h2>Ingresar Mercancía</h2>
    <form (submit)="ingresarMercancia()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevoProducto.nombre" name="nombre" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" [(ngModel)]="nuevoProducto.estado" name="estado" class="form-control" required>
          <option value="DISPONIBLE">Disponible</option>
          <option value="DISPONIBLE_DEFECTUOSO">Disponible Defectuoso</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <select id="tipo" [(ngModel)]="nuevoProducto.tipo" name="tipo" class="form-control" required>
          <option value="ELABORADO_A_MANO">Elaborado a mano</option>
          <option value="ELABORADO_A_MANO_Y_MAQUINA">Elaborado a mano y máquina</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha de Ingreso:</label>
        <input type="date" id="fechaIngreso" [(ngModel)]="nuevoProducto.fechaIngreso" name="fechaIngreso" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="cantidad" name="cantidad" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar Mercancía</button>
    </form>
  </div>
  